<div class="main-content">
  <div class="home-content">
    <p>WELCOME TO MY WORLD</p>
    <div class="heading-content">
      <h1>Hi, I'm <span>Mohit Pal</span> a developer</h1>
      <p class="para-content"> I use animation as a third dimension by which to simplify experiences and kuiding thro
        each and every interaction. I’m not adding motion just to spruce things up, but doing it in ways that. </p>
    </div>
    <div class="skills-icons">
      <div class="skill-content">
        <h3>FIND WITH ME</h3>
        <img src="../../../assets/facebook-xxl.png" alt="">
        <img src="../../../assets/instagram-4-xl.png" alt="">
        <img src="../../../assets/linkedin-xxl.png" alt="">
      </div>
      <div class="skillon-content">
        <h3>BEST SKILL ON</h3>
        <img src="../../../assets/icons-01.png" alt="">
        <img src="../../../assets/icons-02.png" alt="">
        <img src="../../../assets/icons-03.png" alt="">
      </div>
    </div>
  </div>
  <div class="homeimg-content">
    <div class="text">
      <img src="../../../assets/mohit.png" alt="">
    </div>
  </div>
</div>