 img{
background: var(--background-color-1);
    /* border-radius: 6px; */
    box-shadow: var(--shadow-1);
    display: inline-block;
    font-size: 14px;
    height: 25px;
    
    line-height: 60px;
    position: relative;
    text-align: center;
    text-transform: uppercase;
    transition: var(--transition);
    width: 20px;
    margin: 10px;
}
.homeimg-content img{
    height: 400px;
    width: 150px;
}