.skills-icons img{
    height: 47px;
    margin: 10px; 
    width: 49px;
}
.homeimg-content img{
  height: auto;
  max-width: 100%;
}
.homeimg-content{
   /* padding: 0px 100px; */
   background-color: #212428;
   /* width: fit-content;  */
   /* margin: 0px 49px; */
}
.main-content{
    /* padding: 20px;   */
    display: grid;
    grid-template-columns: 7fr 5fr;
    align-items: center !important;
    border: 2px solid palegreen;
    margin: 50px auto 0 auto;

    grid-template-areas:"home-content homeimg-content";
}

.home-content {
  grid-area: home-content;
}

.homeimg-content {
  grid-area: homeimg-content;
}
#start{
  display: none;
}
.home-content{
  color: #c4cfde;
  font-family: "Montserrat", sans-serif;;
}
 p{
  letter-spacing: 3px;
}
.skills-icons{
  display: flex;
  margin-top: 80px;
  justify-content: space-between;
}
.skillon-content{
  margin-left: 30px;
}
.skill-content{
  
  margin-right: 30px;
}
span{
  color: #ff014f;
}
h1{
  font-size: 60px;
  color: white;
} 
.skills-icons img{
  background-color: #212428;
  padding: 10px 10px;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
  
}
.para-content{
  font-size: 16px;
  line-height: 25px;
  opacity: .9;
  letter-spacing: normal;
}
h3{
  margin-left: 17px;
}
/* @media (max-width: 850px) {
  .main-content{display: flex;
    flex-direction: column-reverse;
    margin-top: 0px;
  padding: 25px;}
    
} */

@media (max-width: 992px) {
  .main-content {
    grid-template-columns: 1fr;
    grid-template-areas: 
      "homeimg-content"
      "home-content";
  }
}
.typing-animation {
  display: inline-block;
  overflow: hidden;
  white-space: nowrap;
  margin: 0 auto;
 
  animation: typing 2s ease-in-out ;
  position: relative;
  top: 10px;
}
.typing-animation2 {
  display: inline-block;
  overflow: hidden;
  white-space: nowrap;
  margin: 0 auto;
 
  animation: typing2 2s ease-in-out ;
  position: relative;
  top: 10px;
}

@keyframes typing {
  from { width: 0 }
  to { width: 90% }
}
@keyframes typing2 {
  from { width: 0 }
  to { width: 90% }
}




