<p>home works!</p>

<div class="main-content">
    <div class="home-content">
      <p>WELCOME TO MY WORLD</p> 
      <div class="heading-content">
        <h1>Hi, I'm Jone Lee a </h1>
        <p> I use animation as a third dimension by which to simplify experiences and kuiding thro each and every interaction. I’m not adding motion just to spruce things up, but doing it in ways that. </p>
      </div>
       <div class="skills-icons">
        <img src="../../../assets/facebook-xxl.png" alt="">
        <img src="../../../assets/instagram-4-xl.png" alt="">
        <img src="../../../assets/linkedin-xxl.png" alt="">

       </div>
    </div>
    <div class="homeimg-content">
       <img src="../../../assets/mohit.png" alt="">
        
            

    </div>
</div>
