 img{
    height: 25px;
    margin: 10px; 
}
.homeimg-content img{
    height: 660px;
    width: 350px;
    width: 82%;
    /* margin-top: -325px; */
    padding-top: 0px; 
    vertical-align: middle;
    /* position: absolute; */
    position: relative;
}
.homeimg-content{
   padding: 0px 100px;
   background-color: #212428;
   width: fit-content; 
   margin: 0px 49px;
}
.main-content{
    /* padding: 20px;   */
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center !important;
    border: 2px solid palegreen;
    margin: 120px auto 0 auto;
}
#start{
  display: none;
}
.home-content{
  /* padding-left: 30px; */
  /* padding-right: 92px; */
  color: #c4cfde;
  font-family: "Montserrat", sans-serif;;
  /* margin-top: 80px; */
  width: 522px;
}
 p{
  letter-spacing: 3px;
}
.skills-icons{
  display: flex;
  margin-top: 80px;
  justify-content: space-between;
}
.skillon-content{
  margin-left: 30px;
}
.skill-content{
  
  margin-right: 30px;
}
span{
  color: #ff014f;
}
h1{
  font-size: 50px;
  color: white;
} 
.skills-icons img{
  background-color: #212428;
  padding: 10px 10px;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
  
}
.para-content{
  font-size: 16px;
  line-height: 25px;
  opacity: .9;
  letter-spacing: normal;
}
h3{
  margin-left: 17px;
}
@media (max-width: 850px) {
  .main-content{display: flex;
    flex-direction: column-reverse;
    margin-top: 0px;
  padding: 25px;}
    
}
@media (max-width: 600px){
  .home-content{
    /* width: 473px; */
    /* padding-left: 30px; */
    /* padding-right: 92px; */
    color: #c4cfde;
    font-family: "Montserrat", sans-serif;
    /* margin-top: 80px; */
    color: black;
    /* margin-left: 95px; */
  }
  .homeimg-content img{
    /* position:none; */
    width: min-content;
    margin-top: 0px;
  }
}



.typing-animation {
  display: inline-block;
  overflow: hidden;
  white-space: nowrap;
  margin: 0 auto;
 
  animation: typing 2s ease-in-out ;
  position: relative;
  top: 10px;
}
.typing-animation2 {
  display: inline-block;
  overflow: hidden;
  white-space: nowrap;
  margin: 0 auto;
 
  animation: typing2 2s ease-in-out ;
  position: relative;
  top: 10px;
}

@keyframes typing {
  from { width: 0 }
  to { width: 90% }
}
@keyframes typing2 {
  from { width: 0 }
  to { width: 90% }
}




.test_main_container{
border: 1px solid red;
padding: 20px;
margin-top: 120px;
max-width: 1200px;
margin: 120px auto 0 auto;
}
.test_container{
  border: 1px solid rgb(23, 206, 93);
  padding: 20px;
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.home{
  border: 1px solid rgb(89, 22, 182);
  padding: 20px;
}
.homeing{
  border: 1px solid rgb(218, 29, 190);
  padding: 20px;
}