
<div class="main-content">
    <div class="popular-maincontent">
      <div class="container">
        <p>POPULAR CLIENTS</p>
        <h1>Awesome Clients</h1>
      </div>
       
        <div class="popular-cotent">
          <div class="menu-content">
            <ul>
                <li class="menu-diff"><a href="" (click)="showallcards($event)">All</a></li>
                <li><a href="" (click)="showallcards1($event)">JavaScript</a></li>
                <li><a href="" (click)="showallcards($event)">Product Design</a></li>
                <li><a href="" (click)="showallcards3($event)">Wordpress</a></li>
                <li><a href="" (click)="showallcards4($event)">HTML to React</a></li>
                <li><a href="" (click)="showallcards5($event)">React To Laravel</a></li>
            </ul>
           

         
          </div>
          

          
         <div class="icon-maincontent">
          <div class="icon-content">
              <div class="icon-contents" >
                <div class="display-content" *ngIf="displayedCards.length > 0">
                  <div *ngFor="let card of displayedCards" class="card-container">
                    <div class="card-content">
                    <img [src]="card.img" alt="Card image">
                  </div>
                    <div class="para-card">
                    <p>{{ card.para}}</p>
                  </div>
                
                    <!-- <p>marth Smith</p> -->
                  </div>
              
              
                

                

               
              </div>
             
        </div>
    </div>
        </div>
      </div>
    <!-- </div> -->
<!-- </div> -->



