
<div class="main-content">
    <div class="popular-maincontent">
      <div class="container">
        <p>POPULAR CLIENTS</p>
        <h1>Awesome Clients</h1>
      </div>
       
        <div class="popular-cotent">
          <div class="menu-content">
            <ul>
                <li class="menu-diff"><a href="" (click)="scriptall($event,1)">All</a></li>
                <li><a href="" (click)="scriptall($event,2)">JavaScript</a></li>
                <li><a href="" (click)="scriptall($event,3)">Product Design</a></li>
                <li><a href="" (click)="scriptall($event,4)">Wordpress</a></li>
                <li><a href="" (click)="scriptall($event,5)">HTML to React</a></li>
                <li><a href="" (click)="scriptall($event,6)">React To Laravel</a></li>
            </ul>
          </div>
         <div class="icon-maincontent">
          <div class="icon-content">
              <div class="icon-contents" >
                <img  [src]="popularimg"  alt="">
                <p>marth Smith</p>
              </div>
              <!-- <div class="icon-contents" >
                <img src="../../../assets/client2.png" alt="">
                <p>marth Smith</p>  
            </div>
              <div class="icon-contents" >
                <img src="../../../assets/client3.png" alt="">
                <p>marth Smith</p>
            </div>
          </div>
          <div class="icon-content">
            <div class="icon-contents">
              <img src="../../../assets/client2.png" alt="">
              <p>marth Smith</p>
            </div>
            <div class="icon-contents">
              <img src="../../../assets/client1.png" alt="">
              <p>marth Smith</p>
            </div>
            <div class="icon-contents">
              <img src="../../../assets/client3 (1).png" alt="">
              <p>marth Smith</p>
            </div>
        </div>
        <div class="icon-content">
            <div class="icon-contents">
              <img src="../../../assets/client2.png" alt="">
           
              <p>marth Smith</p> </div>
            <div class="icon-contents" >
              <img src="../../../assets/client1.png" alt="">
              <p>marth Smith</p>
            </div>
            <div class="icon-contents">
              <img src="../../../assets/client3.png" alt="">
              <p>marth Smith</p>
            </div> -->
        </div>
    </div>
        </div>
    </div>
</div>
