<p>contact works!</p>
<div class="main-content">
    <div class="contact-maincontent">
        <div class="contact-container">
            <h5>CONTACT</h5>
            <h1>Contact With Me</h1>
        </div>

        <div class="contact-content">
            <div class="connection-content">
                <div class="contact-img">
                    <img src="../../../assets/contact1.png" alt="">
                     <h1>Nevine Acotanza</h1>
                     <p>Chief Operating Officer</p>
                     <p>I am available for freelance work. Connect with me via and call in to my account.</p>
                     <div class="phone-content">
                        <p>Phone: <span>]+01234567890</span></p>
                        <p>Email: <span>admin&#64;example.com</span></p>
                     </div>
                     <div class="find-content">
                        <p>FIND WITH ME</p>
                     </div>
                     <div class="find-img">
                        <img src="../../../assets/facebook-xxl.png" alt="">
                        <img src="../../../assets/instagram-4-xl.png" alt="">
                        <img src="../../../assets/linkedin-xxl.png" alt="">
                     </div>

                </div>
            </div>

             <div class="form-content">
                <div class="form-container">
                    <div class="name-content">
                        <label for="">YOUR NAME</label><br>
                        <input type="text">
                    </div>
                    <div class="phone-content">
                        <label for="">PHONE NUMBER</label><br>
                        <input type="text">
                    </div>
                   
                </div>
                <div class="address-content">
                    <div class="email">
                    <label for="">EMAIL</label><br>
                    <input type="text"><br>
                </div>
                <div class="subject">
                   
                    <label for="">SUBJECT</label><br>
                    <input type="text">
                </div>
                   
                    <label for="">YOUR MESSAGE</label><br>
                    <textarea name="" id="" rows="10" ></textarea>
                </div>
                <div class="msg-content">
                    <button>SEND MESSAGE <i class="fa-solid fa-right-long"></i></button>
                </div>
             </div>   
        </div>
    </div>
</div>