<p>blog works!</p>
<!-- <meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"> -->



<div class="main-content">
    <div class="blog-maincontent">
        <div class="blog-content">
            <h5>VISIT MY BLOG AND KEEP YOUR FEEDBACK</h5>
            <h1>My Blog</h1>
        </div>
        <div class="card-maincontent">

            <div class="card-content">
               <img src="../../../assets/blog-01.webp" alt="">  
               <div class="para-content">
                <p>CANADA <span>2 min read</span></p>
               </div> 
               <p>T-shirt Design is the part of design</p>
            </div>

            <div class="card-content">
                <img src="../../../assets/blog-02.webp" alt="">  
                <div class="para-content">
                 <p>CANADA <span>2 min read</span></p>
                </div> 
                <p>T-shirt Design is the part of design</p>
             </div>

             <div class="card-content">
                <img src="../../../assets/blog-03.webp" alt="">  
                <div class="para-content">
                 <p>CANADA <span>2 min read</span></p>
                </div> 
                <p>T-shirt Design is the part of design</p>
             </div>
        </div>
    </div>
   




        </div>
    


