p{
    /* border: 2px solid palevioletred; */
    padding: 20px;
}
.card-content img{
    width: 98%;
    height: 60%;
    transition: transform .2s;
    /* border: 1px solid red; */
}
.card-content img:hover{
    -ms-transform: scale(1.1); /* IE 9 */
  -webkit-transform: scale(1.1); /* Safari 3-8 */
  transform: scale(1.1);  
}
.card-content {
    /* width: 40%; */
    /* border: 5px solid rebeccapurple; */
    margin: 10px;
    padding: 20px;
    background-color: #212428;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.card-maincontent{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin-bottom: 100px;
    /* border: 2px solid blueviolet; */
}
.modal-body{
    color: white;
    background-color: #16181c;
}
span{
    margin-left: 129px;
}
.btn btn-primary{
    background-color: none;
    -bs-btn-bg: white; 
    --bs-btn-border-color: none;
}
.description{
    font-size: 1.3rem;
    text-align: center;
}
.blog-content{
    text-align: center;
}
.blog-content h5{
    color: #ff014f;
    letter-spacing: 1px;
    
}
.blog-content h1{
    color: #c4cfde;
}
.leave-content{
    display: grid;
    grid-template-columns: 1fr 1fr;
}
.leave-content input{
    margin: 10px;
    width: 90%;
    padding: 10px;
    background-color: black;
    color: #c4cfde;
}
textarea{
    width: 95%;
    height: 46%;
    margin: 10px;
    background-color: black;
}
.form-content{
    margin-bottom: -120px;
}
button{
    padding: 10px 20px;
    color: #ff014f;
    background: linear-gradient(to right bottom, #212428, #16181c);
    font-size: 14px;
    font-weight: 700;
    border: transparent;
}
img{
    width: -webkit-fill-available;
}
btn-close{
    color: #ff014f;
}
.contact-bottom{
    border-bottom: 1px solid black;
}

@media (max-width: 850px){
    .card-maincontent{
        display: block;

    }
}