<div class="main-content">
    <div class="features-content">
        <h4>FEATURES</h4>
        <h1>What I Do</h1>
    </div>
    <div class="card-container">
        <div class="card-content">
            <div class="icon">
                <i class="fa fa-bars"></i>
                <h2>Business Stratagy</h2>
                <p>I throw myself down among the tall grass by the stream as I lie close to the earth.</p>

            </div>
        </div>

        <div class="card-content">

            <i class="fa-solid fa-book-open"></i>
            <h2>App Development</h2>
            <p>It uses a dictionary of over 200 Latin words, combined with a handful of model sentence.</p>
        </div>
        <div class="card-content">
            <i class="fa-solid fa-tv"></i>
        </div>
        <div class="card-content">

        </div>
        <div class="card-content">

        </div>
        <div class="card-content">

        </div>
    </div>
</div>