<div class="main-content">
    <div class="features-content comp_heading">
        <h4>FEATURES</h4>
        <h1>What I Do</h1>
    </div>
    <div class="card-container">
        <div class="card-content">
            <div class="icon">
                <i class="fa fa-bars"></i>
                <h2>Business Stratagy</h2>
                <p>I throw myself down among the tall grass by the stream as I lie close to the earth.</p>
            <div class="hover-icon">
                 <i class="fa-solid fa-arrow-right"></i>
            </div>
            </div>
        </div>

        <div class="card-content">
            <div class="icon">
            <i class="fa-solid fa-book-open"></i>
            <h2>App Development</h2>
            <p>It uses a dictionary of over 200 Latin words, combined with a handful of model sentence.</p>
            <div class="hover-icon">
                <i class="fa-solid fa-arrow-right"></i>
           </div>
        </div>
        </div>
        <div class="card-content">
            <div class="icon">
            <i class="fa-solid fa-tv"></i>
            <h2>App Development</h2>
            <p>I throw myself down among the tall grass by the stream as I lie close to the earth.</p>
            <div class="hover-icon">
                <i class="fa-solid fa-arrow-right"></i>
           </div>
            
        </div>
            
        </div>
        <div class="card-content">
            <div class="icon">
            <i class="fa-brands fa-twitch"></i>
            <h2>Mobile App</h2>
            <p>There are many variations of passages of Lorem Ipsum available, but the majority.</p>
            <div class="hover-icon">
                <i class="fa-solid fa-arrow-right"></i>
           </div>
        </div>
        </div>
        <div class="card-content">
            <div class="icon">
            <i class="fa-solid fa-wifi"></i>
            <h2>CEO Marketing</h2>
            <p>always free from repetition, injected humour, or non-characteristic words etc.</p>
            <div class="hover-icon">
                <i class="fa-solid fa-arrow-right"></i>
           </div>
        </div>
        </div>
        <div class="card-content">
            <div class="icon">
            <i class="fa-brands fa-slack"></i>
            <h2>Personal Portfolio April</h2>
            <p>It uses a dictionary of over 200 Latin words, combined with a handful of model sentence.</p>
            <div class="hover-icon">
                <i class="fa-solid fa-arrow-right"></i>
           </div>
        </div>
        </div>
    </div>
</div>