.card-content {
    padding: 40px;
    font-family: "Montserrat", sans-serif;
    ;
    width: 270px;
    margin: 20px;
    letter-spacing: 1px;
    color: #c4cfde;
    background-color: #212428;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

}

.card-container {
    display: flex;
    flex-wrap: wrap;
}

.main-content {
    margin: 60px 130px;
    padding: 20px;
}

.div {
    width: 35px;
    height: 5px;
    background-color: black;
    margin: 6px 0;
}

.fa-bars {
    font-size: 2em;
    color: #ff014f;

}

.fa-solid {
    font-size: 2em;
    color: #ff014f;
}