
.main-container{
    border: 2px solid green;
   
    background-color: rgba(7, 7, 7, 0.852);
    color: white;
}
.container{
    /* border: 2px solid blue; */
    padding: 40px;
    
}

/* @media (max-width: 600px) and (min-width: 600px) {
    .main-container{   
      flex-direction: column;
      color: red;
      background-color: red;
    }
  } */


 