
.main-container{
    border: 2px solid green;
   
    background-color: #212428;
    color: white;
    /* position: relative;
    z-index: -2; */
}
.container{
    /* border: 2px solid blue; */
    /* padding: 40px; */
    
}

/* @media (max-width: 600px) and (min-width: 600px) {
    .main-container{   
      flex-direction: column;
      color: red;
      background-color: red;
    }
  } */


 