.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  background-color:  #212428;
  color: white;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000;
  box-sizing: border-box;
  padding: 0 65px;
  height: 90px;
}

.logo {
  display: flex;
  align-items: center;
}

.logo img {
  height: 70px;
  border-radius: 45%;
  margin-right: 10px;
  box-shadow: 0 0px 8px rgb(110 110 103 / 92%);
}

nav {
  position: relative;
}

.fa-bars {
  display: none;
  font-size: 24px;
  cursor: pointer;
}

#nav_link {
  list-style: none;
  display: flex;
  margin: 0;
  padding: 0;
}

#nav_link li {
  margin: 10px 14px;
}
#nav_link li a{
  margin: .5rem 1rem;
  text-transform: uppercase;
  color: #c4cfde;
  font-size: 13px;
  font-family: "Montserrat", sans-serif;;
}

@media (max-width: 1150px) {
  .fa-bars {
      display: block;
  }
  #nav_link {
      display: none;
      flex-direction: column;
      position: absolute;
      top: 50px;
      right: -50px;
      background-color: #333;
  }
  #nav_link li {
      padding: 10px 0;
      text-align: center;
  }
  #nav_link.show {
      display: flex;
  }
}