<div class="header">
    <div class="logo">
        <img src="../../../assets/logo.png" alt="Logo">
        <span>Logo</span>
    </div>
    <nav>
        <i class="fa fa-bars" (click)="showNav($event)"></i>
        <ul id="nav_link">
            <li><a>home</a></li>
            <li><a>features</a></li>
            <li><a>portfolio</a></li>
            <li><a>resume</a></li>
            <li><a>clients</a></li>
            <li><a>pricing</a></li>
            <li><a>blog</a></li>
            <li><a>contact</a></li>
        </ul>
    </nav>
</div>