.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  background-color:  #212428;
  color: white;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000;
  box-sizing: border-box;
  padding: 0 65px;
  height: 90px;
  position: relative;
}

.logo {
  display: flex;
  align-items: center;
}

.logo img {
  height: 70px;
  border-radius: 45%;
  margin-right: 10px;
  box-shadow: 0 0px 8px rgb(110 110 103 / 92%);
}

nav {
  
}

.fa-bars {
  display: none;
  font-size: 24px;
  cursor: pointer;
}

#nav_link {
  list-style: none;
  display: flex;
  margin: 0;
  padding: 0;
}

#nav_link li {
  padding: 10px 14px;

}
.nav-header{
  display: none;
  display: flex;
  justify-content: space-between;

}
#nav_link li:hover{
  background-color: #42383882;
}
#nav_link li a{
  margin: .5rem 1rem;
  text-transform: uppercase;
  color: #c4cfde;
  font-size: 13px;
  font-family: "Montserrat", sans-serif;;
  cursor: pointer;
}

#nav_link li a:hover{
  color: white;

  
}

i{
  font-size: 24px;
  margin-top: 5px;
}

.list-content{
  text-align: left;
  font-family: "Montserrat", sans-serif;
  
}
.nav-header{
  display: none;
}
p{
  display: none;
}
.skills-icons{
  display: none;
}
.skill-content{
  padding: 80px 0px;
  display: none;
}
h5{
  border-top: 1px solid #c4cfde;
  margin-top: 5px;
}
@media (max-width: 1150px) {
  .fa-bars {
      display: block;
  }
  #nav_link {
      display: none;
      flex-direction: column;
      position: absolute;
      top: 50px;
      right: -50px;
      background-color: #333;
  }
  #nav_link li {
      padding: 10px 0;
      text-align: left;
  }
  #nav_link.show {
      display: flex;
      position: absolute;
  top: 1px;
  /* right: 0; */
  width: 250px;
  height:auto;
  /* border: 3px solid #73AD21; */
  left: 0;
  }
  .nav-header{
    display: block;
    display: flex;

  }
  
  p{
    margin: 15px 5px;
    font-style: inherit;
      font-size: 16px;
      font-family: "Montserrat", sans-serif;
      color: #c4cfde;
      display: block;
      border-bottom: 1px solid #c4cfde;
      padding-bottom: 20px;
      /* letter-spacing: 1px; */
  }
  .fa-remove{
    margin: 5px;
        background-color: #c4cfde;
        padding: 15px;
        border-radius: 50%;
        margin-top: 12px;
        /* width: 40px; */
    }
    .logos{
      margin: 5px;
      border-radius: 50%;
      padding: 5px;
      background-color: bisque;
      width: 46px;
      height: 54px;
    }
    .skills-icons{
      display: flex;
      /* margin-top: 80px; */
      display: block;
    }
    .skills-icons img{
      background-color: #212428;
      padding: 16px 16px;
      box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
      width: 30px;
      height: 30px;
      margin-top: 0px;
      
    }
   
    .skill-content{
      display: block;
    }
}