
<div class="main-content">
   

    <body>
        <header>
            <div class="header-container">
                <div class="logo">
                    <img src="../../../assets/download (5).jpeg" alt="Logo">
                    <h5>Myport</h5>
                </div>
                <nav>
                    <ul class="nav-list">
                        <li><a href="#home">HOME</a></li>
                        <li><a href="#features">FEATURES</a></li>
                        <li><a href="#portfolio">PORTFOLIO</a></li>
                        <li><a href="#resume">RESUME</a></li>
                        <li><a href="#clients">CLIENTS</a></li>
                        <li><a href="#pricing">PRICING</a></li>
                        <li><a href="#blog">BLOG</a></li>
                        <li><a href="#contact">CONTACT</a></li>
                        <li><a href=""><img src="../../../assets/cart.png" alt=""></a></li>
                        
                    </ul>
                </nav>
            </div>
        </header>
    </body>
</div>
