<p>header works!</p>
<div class="main-content">
   

    <body>
        <header>
            <div class="header-container">
                <div class="logo">
                    <img src="../../../assets/download (5).jpeg" alt="Logo">
                    <h5>Myport</h5>
                </div>
                <nav>
                    <ul class="nav-list">
                        <li><a href="#home">Home</a></li>
                        <li><a href="#features">features</a></li>
                        <li><a href="#portfolio">portfolio</a></li>
                        <li><a href="#resume">resume</a></li>
                        <li><a href="#clients">clients</a></li>
                        <li><a href="#pricing">pricing</a></li>
                        <li><a href="#blog">blog</a></li>
                        <li><a href="#contact">contact</a></li>
                        
                    </ul>
                </nav>
            </div>
        </header>
    </body>
</div>
