
.main-content{
    /* margin: auto;
    padding: 20px;  */
    font-family: "Montserrat", sans-serif;; 
    /* border: 2px solid blueviolet; */
    /* width: 55%;   */
    margin-top: 50px;
    border-bottom: 1px solid black;
    /* border-bottom: 5px solid black; */
}
.header-content{
    text-align: center;
}
.header-content h5{
    color: #f9004d;
}
.header-content h1{
    color: #c4cfde;
    font-weight: 700;
    line-height: 1.2;
    font-size: 60px;
    margin: -11px;
}

.education-content p{
    color: #f9004d;
}
.education-content h1{
    color: #c4cfde;
}

.educations-content{
    color: #f9004d;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    list-style-type: none;
    cursor: pointer;
    color: #c4cfde;
    background-color: #212428;
    /* padding: 20px; */
    /* margin-top: 0px; */
    margin: 45px 15px;
    border-radius: 10px;
}
.educations-content li{
    cursor: pointer;
}
.educations-content li:hover{
    color: #f9004d;
    background-color: rgba(47, 53, 57, 0.995);
}
.nav-content p:hover{
    color: #f9004d;
    background-color: rgba(8, 4, 4, 0.304);
}

.about-education{
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 20px;
    padding-top: 0px;
    border-bottom: 5px solid black;
    padding-bottom: 20px;
    /* margin: 20px; */
}
.education-resume{
    background-color: #212428;
    padding: 30px;
    margin: 20px;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.education-maincontent{
   margin: 20px;

}
.job-maincontent{
    margin: 20px;
}
.education-container{
    margin-left: 10px;
    border-left: 5px solid #212428;
}
.job-content p{
   color:  #f9004d;
   /* padding-top: 0px; */
}
.job-content h1{
    color: #c4cfde;
}
span{
    margin-left: 80px;
    color: #f9004d;
    font-size: small;
}
.education-resume h6{
    color: #c4cfde;
}
.education-resume p{
    color: #c4cfde;
}
.active{
    /* border-bottom: 2px solid greenyellow; */
    transition: ease-in-out .3s;
   
}
.tab-link{
    padding: 30px;
}
progress{
    width: 100%;
    
}
.tab-link1{
    margin-top: 30px;
    color: #f9004d;
    background-color: none;

}
.skill-content{
    display: flex;
    justify-content: space-between;
    
}
.skill-content p{
    color: #c4cfde;
    font-size: 12px;
    letter-spacing: 2px;
    font-weight: 400;
}
.skill-content span{
    margin-top: 18px;
    color: #f9004d;
}
@media (max-width: 800px){
    .nav-content{
        grid-template-columns: 1fr;
    }
}
@media (max-width:991px){
    .about-education{
        grid-template-columns: 1fr;
    }
    .educations-content{
        display: block;
        text-align: center;
        /* padding-left: 0px; */
        padding: 5px;
    }
    .tab-link1{
        color: #f9004d;
        padding: 25px;
        margin-top: 0px;
        background-color: rgba(47, 53, 57, 0.995);
    }
    .header-content h1{
        font-size: xx-large;
    }
    .header-content h5{
        font-size: medium;
        margin: 15px;
    }
    .education-maincontent{
        /* background-color: aquamarine; */
    }
    .education-content h1{
        font-size: xx-large;
    }
    .education-resume{
        margin: 15px 0px;
        padding: 10px;
        margin-left: 10px;
    }
    .education-maincontent{
        /* font-size:larger; */
        margin: 0px;
    }
    .education-resume h6{
        border-bottom: 1px solid black;
        padding: 10px 0px;
    }
}