p{
    /* border: 2px solid palevioletred; */
    padding: 20px;
}
.main-content{
    /* margin: auto;
    padding: 20px;  */
    font-family: "Montserrat", sans-serif;; 
    border: 2px solid blueviolet;
    /* width: 55%;   */
}
.header-content{
    text-align: center;
}
.header-content h5{
    color: #f9004d;
}
.header-content h1{
    color: #c4cfde;
    font-weight: 700;
    line-height: 1.2;
    font-size: 60px;
    margin: -11px;
}
.nav-content {
    display: flex;
    justify-content: space-between;
    padding: 20px;
    cursor: pointer;
    color: #c4cfde;
    margin-top: 0px;
}
.main-bar{
    display: flex;
    justify-content: space-between;
    padding: 20px;
}
.education-content p{
    color: #f9004d;
}
.education-content h1{
    color: #c4cfde;
}
.about-education{
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: space-between;
    margin: 10px;
    grid-gap: 20px;
}
.nav-content p{
    /* padding: 40px 100px; */
    width: 50%;
    border-radius: 5px;
    background-color: #212428;
    padding: 32px;
    font-size: 20px;
    text-align: center;
    font-weight: 700;
    line-height: 1.2;
   
}
.educations-content{
    color: #f9004d;
}
.nav-content p:hover{
    color: #f9004d;
    background-color: rgba(8, 4, 4, 0.304);
}