<p>resume works!</p>
<div class="main-content">
    <div class="resume-content">
        <div class="header-content">
            <h5>7+ YEARS OF EXPERIENCE</h5>
            <h1>My Resume</h1>
        </div>
        <div class="nav-content">
            <p class="educations-content">Education</p>
            <p>Professional Skills</p>
            <p>Experience</p>
            <p>Interview</p>
        </div>

        <div class="main-bar">
            <div class="education-content">
                <p>2007-2019</p>
                <h1>Education Quality</h1>
            </div>
            <div class="job-content">
                <p>2007-2010</p>
                <h1>Job Experience</h1>
            </div>
        </div>

        <div class="about-education">
            <div class="education-resume">
                <h3>Personal Portfolio April Fools <span>4.30/5</span></h3>
                <h6>University od DVI(1997-2001)</h6>
                <p class="description">The education should be very interactual. Ut tincidunt est ac dolor aliquam sodales. Phasellus sed mauris hendrerit, laoreet sem in, lobortis mauris hendrerit ante.</p>
            </div>
            <div class="education-resume">
                <h3>Examples Of Personal Portfolio <span>4.50/5</span></h3>
                <h6>College of Studies (2000 - 2002)</h6>
                <p class="description">Maecenas finibus nec sem ut imperdiet. Ut tincidunt est ac dolor aliquam sodales. Phasellus sed mauris hendrerit, laoreet sem in, lobortis mauris hendrerit ante.</p>
            </div>
            <div class="education-resume">
                <h3>Tips For Personal Portfolio <span>4.80/5</span></h3>
                <h6>University of Studies (1997 - 2001)</h6>
                <p class="description">If you are going to use a passage. Ut tincidunt est ac dolor aliquam sodales. Phasellus sed mauris hendrerit, laoreet sem in, lobortis mauris hendrerit ante.</p>
            </div>
            <div class="education-resume">
              <h3>Diploma in Web Development <span>4.70/5</span> </h3> 
              <h6>BSE In CSE (2004 - 2008)</h6> 
              <p class="description">Contrary to popular belief. Ut tincidunt est ac dolor aliquam sodales. Phasellus sed mauris hendrerit, laoreet sem in, lobortis mauris hendrerit ante.</p>
            </div>
            <div class="education-resume">
                <h3>The Personal Portfolio Mystery <span>4.95/5</span></h3>
                <h6>Job at Rainbow-Themes (2008 - 2016)</h6>
                <p class="description">Generate Lorem Ipsum which looks. Ut tincidunt est ac dolor aliquam sodales. Phasellus sed mauris hendrerit, laoreet sem in, lobortis mauris hendrerit ante.</p>
            </div>
            <div class="education-resume">
                <h3>Diploma in Computer Science <span>5.00/5</span></h3>
                <h6>Works at Plugin Development (2016 - 2020)</h6>
                <p class="description">Maecenas finibus nec sem ut imperdiet. Ut tincidunt est ac dolor aliquam sodales. Phasellus sed mauris hendrerit, laoreet sem in, lobortis mauris hendrerit ante.</p>
            </div>
        </div>
    </div>
</div>