p{
    /* border: 2px solid palevioletred; */
    padding: 20px;
}
.theme-img img{
    width: 40px;
    height: 40px;
}
.main-content{
    border: 2px solid palegreen;
}
.clients-content{
    text-align: center;
}
.theme-content{
    border: 2px solid paleturquoise;
}
.theme-maincontent{
    display: grid;
    grid-template-columns: 1fr 4fr;
}
.Development-content{
    width: 400px;
    border: 2px solid rebeccapurple;
    width: 50%;
    border: 2px solid rebeccapurple;
    margin: auto;
    padding: 30px;
}
.app-maincontent{
    margin: 30px;
    border: 2px solid blue;
}
.direction-content{
    text-align: end;
}
.direction-content i{
  padding: 10px;  
  margin: 10px;
}
.clients-content p{
    margin: 0px;
    padding: 10px;
}