<p>clients works!</p>
<div class="main-content">
    <div class="client-content">
        <div class="clients-content">
            <p>WHAT CLIENTS SAY</p>
            <h1>Testimonial</h1>
        </div>
        <div class="theme-maincontent">
            <div class="theme-content">
                <div class="theme-img">
                    <img src="../../../assets/mohit.png" alt="">
                </div> 
                <p>RAINBOW-THEMES</p>
                <h1>Nevine Acotanza</h1>
                <h4>Chief Operating Officer</h4>   
            </div>

            <div class="Development-content">
                <div class="direction-content">
                    <i class="fa-solid fa-arrow-left"></i>
                    <i class="fa-solid fa-arrow-right"></i>
                </div>
                <div class="app-maincontent">

                
                <div class="app-content">
                    <div class="apps-content">
                        <h2>Android App Development</h2>
                        <h5>via Upwork - Mar 4, 2015 - Aug 30, 2021</h5>
                    </div>
                    <div class="rating-content">
                        <i class="fa-regular fa-star"></i>
                    </div>
                </div>
                <p> Maecenas finibus nec sem ut imperdiet. Ut tincidunt est ac dolor aliquam sodales. Phasellus sed mauris hendrerit, laoreet sem in, lobortis mauris hendrerit ante. Ut tincidunt est ac dolor aliquam sodales phasellus smauris . </p>
            </div>
            </div>
        </div>
    </div>
</div>
