
<div class="main-content">
    <div class="portfolio-content">
        <div class="visit-content">
            <h5>VISIT MY POSTFOLIO AND KEEP YOUR FEEDBACK</h5>
            <h1>My Portfolio</h1>
        </div>

        <div class="services-content">
            <div class="service-content">
                <img src="../../../assets/portfolio-01.webp" alt="">
                <div class="contents">
                    <h5>DEVELOPMENT</h5>
                    <h4><span><i class="fa-regular fa-heart"></i></span> 600</h4>
                </div>
                <div class="para-content">
                    <h2>The services provide for design  </h2>
                    
                        <i class="fa-solid fa-arrow-up-right-from-square"></i>
                    
                   
                </div>

            </div>

            <div class="service-content">
                <img src="../../../assets/portfolio-02.jpg" alt="">
                <div class="contents">
                    <h5>Application</h5>
                    <h4><span><i class="fa-regular fa-heart"></i></span> 750</h4>
                </div>
                <div class="para-content">
                    <h2>Mobile app landing design & app maintain </h2>
                    <i class="fa-solid fa-arrow-up-right-from-square"></i>
                </div>

            </div>
            <div class="service-content">
                <img src="../../../assets/portfolio-03.jpg" alt="">
                <div class="contents">
                    <h5>DEVELOPMENT</h5>
                    <h4><span><i class="fa-regular fa-heart"></i></span> 600</h4>
                </div>
                <div class="para-content">
                    <h2>The services provide for design</h2>
                    <i class="fa-solid fa-arrow-up-right-from-square"></i>
                </div>

            </div>

            <div class="service-content">
                <img src="../../../assets/portfolio-04.jpg" alt="">
                <div class="contents">
                    <h5>DEVELOPMENT</h5>
                    <h4><span><i class="fa-regular fa-heart"></i></span> 600</h4>
                </div>
                <div class="para-content">
                    <h2>The services provide for design</h2>
                    <i class="fa-solid fa-arrow-up-right-from-square"></i>
                </div>

            </div>

            <div class="service-content">
                <img src="../../../assets/portfolio-05.webp" alt="">
                <div class="contents">
                    <h5>DEVELOPMENT</h5>
                    <h4><span><i class="fa-regular fa-heart"></i></span> 600</h4>
                </div>
                <div class="para-content">
                    <h2>The services provide for design</h2>
                    <i class="fa-solid fa-arrow-up-right-from-square"></i>
                </div>

            </div>

            <div class="service-content">
                <img src="../../../assets/portfolio-06.webp" alt="">
                <div class="contents">
                    <h5>DEVELOPMENT</h5>
                    <h4><span><i class="fa-regular fa-heart"></i></span> 600</h4>
                </div>
                <div class="para-content">
                    <h2>The services provide for design</h2>
                    <i class="fa-solid fa-arrow-up-right-from-square"></i>
                </div>

            </div>

          

           
        </div>
    </div>
</div>
