
<div class="main-content">
    <div class="main-footer">
        <div class="footer-content">
            <div class="inbio-content">
                <img src="../../../assets/banner-01.webp" alt="">
                <p>INBIO</p>
            </div>
            <div class="inbio-img">
                <img src="../../../assets/linkedin-xxl.png" alt="">
                <img src="../../../assets/instagram-4-xl.png" alt="">
                <img src="../../../assets/icons-02.png" alt="">
            </div>
        </div>

        <div class="footer-content">
            <div class="product-content">
                <h4>PRODUCT</h4>
                <ul>
                    <li>Database</li>
                    <li>Authentication</li>
                    <li>Storage</li>
                    <li>Support</li>
                    <li>Pricing</li>
                </ul>
            </div>
        </div>

        <div class="footer-content">
           <div class="resources-content">
            <h4>RESOURCES</h4>
            <ul>
                <li>Authentication</li>
                <li>System Status</li>
                <li>Terms of services</li>
                <li>Pricing</li>
                <li>over right</li>
               
            </ul>
           </div>    
        </div>

        <div class="footer-content">
            <div class="developers-content">
                <h4>DEVELOPERS</h4>
                <ul>
                    <li>Documentation</li>
                    <li>Authentication</li>
                    <li>API Reference</li>
                    <li>Support</li>
                    <li>Open Source</li>
                </ul>
            </div>
        </div>
    </div>
    <div class="footer-bottom">
        
    </div>
    <div class="theme-content">
        <h6><span>c</span> 2024. All rights reserved by Rainbow-Themes.</h6>
    </div>
   
</div>

