/* You can add global styles to this file, and also import other style files */
body{
    padding: 0px;
    margin: 0px;
}
.main-content{
    max-width: 1250px;
    margin: 0 auto;
    padding: 100px 0;
    /* border-bottom: ; */
   
}
.comp_heading h1{
    font-size: 60px;
    font-weight: 700;
    font-family: "Montserrat", sans-serif;;
    color: #c4cfde;
    padding-bottom: 20px;
}